@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@600&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html, body{
    background: rgba(0, 11, 46, 1);
    color: #fff;
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
}
hr {
    margin: .5em 0;
    border-bottom: 2px solid #fff;
    border-top: unset;
    opacity: unset;
}
img {width: 100%;}
.main{flex: 1;}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(../img/BG.jpg) center no-repeat;
    background-size: auto 100%;
}
/*----- header -----*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    background: rgba(68, 73, 108, 1);
}
.header-left, .header-right{
    display: flex;
    align-items: center;
    padding: 0;
}
.header-right{
    justify-content: flex-end;
}
.Btn-showsidebar img{
    width: 30px;
    height: auto;
}
.idnumBox{
    padding-right: 10px;
    color: rgba(128, 137, 167, 1);
}
.balanceBox {
    display: flex;
    align-items: center;
    gap: 3px;
}
.balanceBox img{
    height: 18px;
    width: auto;
}
.refreshbalanceBox {
    display: flex;
    align-items: center;
}
.Btn-refreshbalance {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px!important;
}
.Btn-refreshbalance img{
    height: 16px;
    width: auto;
}
/*----- Wheel -----*/
.mainWheel{
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
}
.wheelimgBox{
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
}
.wheelborder{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.wheel{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 5%);
    z-index: 1;
    width: 90%;
    height: auto;
}
.btn-sound {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 3;
}
.btn-record {
    position: absolute;
    bottom: 0;
    left: 5px;
    z-index: 3;
}
.btn-dollar {
    position: absolute;
    bottom: 0;
    right: 5px;
    z-index: 3;
}
.btn-sound img, .btn-record img, .btn-dollar img{
    height: 18px;
    width: auto;
}
.mainWheel .btn{
    height: 40px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid rgba(128, 137, 167, 1);
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainWheel .btn span{
    text-shadow: 0 0 5px #000;
    margin-left: 5px;
}
/*--- BetArea/BetRecord Box ---*/
.betareaBox, .betrecordBox{
    border: 1px solid rgba(128, 137, 167, 1);
    margin: 5px;
    padding: 10px;
    border-radius: 16px;
}
/*--- Bet Amount ---*/
.totalbetamount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(128, 137, 167, 1);
    border-radius: 8px;
    padding: 5px;
    background: rgba(68, 73, 108, 1);
}
.btn-minus, .btn-plus{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-minus img, .btn-plus img{
    width: 14px;
    height: auto;
}
/*--- Auto Switch Box ---*/
.autoswitchBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.autoswitch-ashout, .autoswitch-bet{
    text-shadow: 0 0 5px #000;
}
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(232, 232, 232, 1);
    border-radius: 30px;
    transition: .3s;
    border: 1px solid #9c9c9c;
}
.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 0px;
    background: linear-gradient(135deg, #D9D9D9 26%, #B6B6B6 61.5%, #737373 100%);
    border-radius: 50%;
    transition: .3s;
}
.switch input:checked + .slider {
    background: linear-gradient(90deg, #8CC318 31%, #159138 100%);
    border: 1px solid rgba(56, 255, 175, 1);
}
.switch input:checked + .slider::before {
    transform: translateX(19px);
    background: linear-gradient(135deg, #D9D9D9 26%, #B6B6B6 61.5%, #737373 100%);
}
/*--- Btn Amount ---*/
.btnamountBox{
    display: flex;
    justify-content: space-between;
    gap: 7px;
}
.btn-amount{
    font-size: 13px;
    color: #fff;
    background: rgba(40, 47, 72, 1);
    border: 1px solid rgba(68, 73, 108, 1);
    padding: 8px!important;
    flex: 1;
    min-width: 0;
    text-align: center;
}
.btn-amount:hover, .btn-amount:active{
    border: 1px solid rgba(40, 47, 72, 1);
    background-color: rgba(68, 73, 108, 1);
}
.btn-amount:not(.btn-check)+.btn:active {
    border: 1px solid rgba(40, 47, 72, 1);
    background-color: rgba(68, 73, 108, 1);
}
/*--- Btn Multiplier ---*/
.btnmultiplierBox{
    padding: 10px 0;
}
.btnmultiplierGroup{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.btn-multiplier{
    font-size: 24px;
    color: #fff;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    text-align: center;
    font-weight: 700;
}
.btn-multiplier:nth-child(1){
    background: radial-gradient(50% 50% at 50% 50%, #888DFF 0%, #393FDC 100%);
    color: rgba(13, 26, 127, 1);
}
.btn-multiplier:nth-child(2){
    background: radial-gradient(50% 50% at 50% 50%, #FE6C7B 0%, #DA2643 100%);
    color: rgba(150, 2, 17, 1);
}
.btn-multiplier:nth-child(3){
    background: radial-gradient(50% 50% at 50% 50%, #FF9152 0%, #E35022 100%);
    color: rgba(149, 33, 0, 1);
}
.btn-multiplier:nth-child(4){
    background: radial-gradient(50% 50% at 50% 50%, #FFB92E 0%, #F69A27 100%);
    color: rgba(146, 74, 1, 1);
}
/*--- Btn Bet ---*/
.btnbetBox{
    padding: 10px 0;
}
.btn-bet{
    background: linear-gradient(90deg, #FFEE2E 0%, #998F1C 100%);
    border: 1px solid #ffee2e;
    width: 100%;
    border-radius: 20px;
    height: 40px;
    font-weight: 800;
    font-size: 24px;
}
/*--- Record ---*/
.betrecordBox .nav-pills{
    display: flex;
    width: 100%;
}
.betrecordBox .nav-pills .nav-item {
    flex: 1;
    text-align: center;
}
.betrecordBox .nav-pills .nav-item:nth-child(1){
    padding-right: 5px;
}
.betrecordBox .nav-pills .nav-item:nth-child(2){
    padding: 0 5px;
}
.betrecordBox .nav-pills .nav-item:nth-child(3){
    padding-left: 5px;
}
.betrecordBox .nav-pills .nav-link {
    width: 100%;
    text-align: center;
    background: rgba(40, 47, 72, 1);
    border: 1px solid rgba(68, 73, 108, 1);
    font-size: 13px;
    border-radius: 16px;
    padding: 4px 0;
    color: #fff;
}
.betrecordBox .nav-pills .nav-link.active{
    background: linear-gradient(90deg, #194C9F 31%, #1D3A8F 100%);
}
.recordtable{
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 10px;
}
.recordtable th{
    padding-top: 12px;
}
.recordtable td{
    padding: 10px 0;
    background: rgba(68, 73, 108, 1);
    line-height: 16px;
}
.recordtable td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.recordtable td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.recordtable tr {
    border-radius: 8px;
    outline: 1px solid rgba(128, 137, 167, 1)
}
.recordtable tr:first-child {
    outline: unset;
}



/*--- Margin ---*/
.m-00 {margin: 0;}
.mt-05 {margin-top: 5px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-20 {margin-top: 20px;}
.mt-30 {margin-top: 30px;}
.mt-40 {margin-top: 40px;}
.mt-50 {margin-top: 50px;}
.mb-05 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-15 {margin-bottom: 15px;}
.mb-20 {margin-bottom: 20px;}
.mb-30 {margin-bottom: 30px;}
.mb-40 {margin-bottom: 40px;}
.mb-50 {margin-bottom: 50px;}
.ml-05 {margin-left: 5px;}
.ml-10 {margin-left: 10px;}
.ml-15 {margin-left: 15px;}
.ml-20 {margin-left: 20px;}
.ml-30 {margin-left: 30px;}
.ml-40 {margin-left: 40px;}
.ml-50 {margin-left: 50px;}
.mr-05 {margin-right: 5px;}
.mr-10 {margin-right: 10px;}
.mr-15 {margin-right: 15px;}
.mr-20 {margin-right: 20px;}
.mr-30 {margin-right: 30px;}
.mr-40 {margin-right: 40px;}
.mr-50 {margin-right: 50px;}
.mx-05 {margin-left: 5px;margin-right: 5px;}
.mx-10 {margin-left: 10px;margin-right: 10px;}
.mx-15 {margin-left: 15px;margin-right: 15px;}
.mx-20 {margin-left: 20px;margin-right: 20px;}
.mx-30 {margin-left: 30px;margin-right: 30px;}
.mx-40 {margin-left: 40px;margin-right: 40px;}
.mx-50 {margin-left: 50px;margin-right: 50px;}
.my-05 {margin-top: 5px;margin-bottom: 5px;}
.my-10 {margin-top: 10px;margin-bottom: 10px;}
.my-15 {margin-top: 15px;margin-bottom: 15px;}
.my-20 {margin-top: 20px;margin-bottom: 20px;}
.my-30 {margin-top: 30px;margin-bottom: 30px;}
.my-40 {margin-top: 40px;margin-bottom: 40px;}
.my-50 {margin-top: 50px;margin-bottom: 50px;}
/*--- Padding ---*/
.p-00{padding: 0;}
.pt-05 {padding-top: 5px!important;}
.pt-10 {padding-top: 10px!important;}
.pt-15 {padding-top: 15px!important;}
.pt-20 {padding-top: 20px!important;}
.pt-30 {padding-top: 30px!important;}
.pt-40 {padding-top: 40px!important;}
.pt-50 {padding-top: 50px!important;}
.pb-05 {padding-bottom: 5px!important;}
.pb-10 {padding-bottom: 10px!important;}
.pb-15 {padding-bottom: 15px!important;}
.pb-20 {padding-bottom: 20px!important;}
.pb-30 {padding-bottom: 30px!important;}
.pb-40 {padding-bottom: 40px!important;}
.pb-50 {padding-bottom: 50px!important;}
.pl-05 {padding-left: 5px!important;}
.pl-10 {padding-left: 10px!important;}
.pl-15 {padding-left: 15px!important;}
.pl-20 {padding-left: 20px!important;}
.pl-30 {padding-left: 30px!important;}
.pl-40 {padding-left: 40px!important;}
.pl-50 {padding-left: 50px!important;}
.pr-05 {padding-right: 5px!important;}
.pr-10 {padding-right: 10px!important;}
.pr-15 {padding-right: 15px!important;}
.pr-20 {padding-right: 20px!important;}
.pr-30 {padding-right: 30px!important;}
.pr-40 {padding-right: 40px!important;}
.pr-50 {padding-right: 50px!important;}
.px-05 {padding-left: 5px!important;padding-right: 5px!important;}
.px-10 {padding-left: 10px!important;padding-right: 10px!important;}
.px-15 {padding-left: 15px!important;padding-right: 15px!important;}
.px-20 {padding-left: 20px!important;padding-right: 20px!important;}
.px-30 {padding-left: 30px!important;padding-right: 30px!important;}
.px-40 {padding-left: 40px!important;padding-right: 40px!important;}
.px-50 {padding-left: 50px!important;padding-right: 50px!important;}
.py-05 {padding-top: 5px!important;padding-bottom: 5px!important;}
.py-10 {padding-top: 10px!important;padding-bottom: 10px!important;}
.py-15 {padding-top: 15px!important;padding-bottom: 15px!important;}
.py-20 {padding-top: 20px!important;padding-bottom: 20px!important;}
.py-30 {padding-top: 30px!important;padding-bottom: 30px!important;}
.py-40 {padding-top: 40px!important;padding-bottom: 40px!important;}
.py-50 {padding-top: 50px!important;padding-bottom: 50px!important;}

/*--- Button ---*/
button{
    font-size: unset;
}
@media (max-width: 767px){
    .btn{
        padding: 0px;
    }
}








